.delivery {
  padding-top: 60px;
  padding-bottom: 100px;

  &__title {
    margin-bottom: 47px;
    font-weight: 500;
    font-size: 32px;
    line-height: 72%;
    color: $colorTextSecondary;
  }
}
