$primaryColor: #F47322;
$colorTextMain: #fff;
$colorTextSecondary: #000;
$backgroundColor: #F6F6F6;
$fontDescription: 14px; 

%flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
